 <table style='width:100%;'>
   <thead>
     <tr>
       <th style='background-color:blue;' colspan="2">
         <h3 style='color:white;'> CEgestor.org </h3>
       </th>
     </tr>
   </thead>
   <tr>
     <th colspan='2' style='background-color: blue;'>
      <b> <%=@please_save%> </b>
     </th>
   </tr>
   <tr>
     <td>
       <%=@your%><%=@username%>
     </td>
     <td>
       <%=@user.username%>
     </td>
   </tr>
   <tr>
     <td>
        <%=@your%><%=@password%>
     </td>
     <td>
       <%=@pw%>
     </td>
   </tr>
   <tr>
     <td colspan="2">
       <a href='http://cegestor.org'> LOGIN  </a>
     </td>
   </tr>
 </table>
