 <table style='width:100%;'>
   <tr>
     <th colspan='2' style='background-color: blue;'>
      <b> <%=@please_save%> </b>
     </th>
   </tr>
   <tr>
     <td>
       <%=@your%><%=@username%>
     </td>
     <td>
       <%=@user.username%>
     </td>
   </tr>
   <tr>
     <td>
        <%=@your%><%=@password%>
     </td>
     <td>
       <%=@pw%>
     </td>
   </tr>
 </table>
