
<div class="card">
  <div class="card-header">
    <h1>Congregations
      <%= link_to 'New congregation', new_congregation_path, class: 'btn btn-warning btn-right' %>
    </h1>
  </div>
  <div class="card-block">




<table class="table table-striped">
  <tr>
    <th>Congname</th>
    <th>Address</th>
    <th>City</th>
    
    <th>Contact</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @congregations.each do |congregation| %>
  <tr>
    <td> <%= congregation.congname %> </td>
    <td> <%= congregation.address %> </td>
    <td> <%= congregation.city %> </td>
 <%if congregation.user.nil?%>
    <td> No User On Record</td>
    <%else%>
    <td> <%= congregation.user.email %></td>
    <%end%>
   
    
    <td><%= link_to image_tag("view.png",:class=>"button",:size=>"36x36",:title=>"#{t :view}"), congregation %></td>
    <td><%= link_to image_tag("edit.png",:class=>"button",:size=>"36x36",:title=>"#{t :edit}"), edit_congregation_path(congregation) %></td>
    <td><%= link_to image_tag("trash.png",:class=>"button",:size=>"36x36",:title=>"#{t :delete}"), congregation, :confirm => "#{t :are_you_sure}", :method => :delete %></td>
  </tr>
<% end %>
</table>

 </div>
  </div>

