<h1>New congregation</h1>

<% form_for(@congregation) do |f| %>


  <p>
    <%= f.label :congname %><br />
    <%= f.text_field :congname %>
  </p>
  <p>
    <%= f.label :address %><br />
    <%= f.text_field :address %>
  </p>
  <p>
    <%= f.label :city %><br />
    <%= f.text_field :city %>
  </p>
  <p>
    <%= f.label :state %><br />
    <%= f.text_field :state %>
  </p>
  <p>
    <%= f.label :zip %><br />
    <%= f.text_field :zip %>
  </p>
  <p>
    <%= f.label :country %><br />
    <%= f.text_field :country %>
  </p>
  <p>
    <%= f.label :language %><br />
    <%= f.text_field :language %>
  </p>
  <p>
    <%= f.label :contact_id %><br />
      <%= f.select(:contact_id, User.find(:all).collect {|c| [ c.username , c.id ] },{ :include_blank => true }) %>
  </p>
   <p>
    <%= f.label :disable_terr_maps %><br />
    <%= f.check_box :disable_terr_maps  %>
  </p>
 <p>
    <%= f.label :disable_all_google_maps %><br />
    <%= f.check_box :disable_all_google_maps  %>
  </p>

<p>
    <%= f.label :is_coordinate_only %><br />
    <%= f.check_box :is_coordinate_only  %>
  </p>



  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', congregations_path %>