<div class="card">
    <div class="card-header card-header-top">
        <h2><%=t :new_coordinate%></h2>
    </div>

    <div class="card-block">

        <%if flash[:cord_notice]%>
        <p class="notice" role="alert">
            <%= flash[:cord_notice] %>
        </p>
        <%end%>

        <%= form_for @coordinate, html: {id: 'new_cord'} do |f| %>
        <div class='col-lg-10 col-xs-10'>
            <%= f.hidden_field :coordinate, id: 'coordinate' , class: 'text-field'%>
            <%= hidden_field_tag "auto_submit", @auto_submit  %>
            <%= f.hidden_field(:territory_id,value:  @territory.id) %>
            <br>
            <%  if @territory.coordinates.nil? || @territory.coordinates.last.nil? %>
            <%=render partial: 'coordinates/map', locals: {auto_submit: @auto_submit, territory: @territory, coordinate: @territory.center_coordinate} %>
            <%else%>
            <%=render partial: 'coordinates/map', locals: {auto_submit: @auto_submit, territory: @territory, coordinate:  @territory.coordinates.last.coordinate} %>
            <%end%>
        </div>

        <div class='col-lg-2 col-xs-2'>
            <br>
            <%= f.submit "#{t :add}", class: 'btn-card-nopad btn btn-primary' %>
        </div>
        <% end %>
        <div class='col-lg-2 col-xs-2'>
            <br>
            <br>
            <%if @auto_submit == TRUE %>
            <%= link_to "#{t :auto_submit}", {controller: 'coordinates', action: 'new',territory_id: @territory.id, auto_submit: 0 },style: 'color: red;background-color: black;', class: 'btn-card-nopad btn btn-primary' %>
            <%else%>
            <%= link_to "#{t :auto_submit}", {controller: 'coordinates', action: 'new',territory_id: @territory.id, auto_submit: 1 }, class: 'btn-card-nopad btn btn-primary' %>
            <%end%>
            <br>
            <%= link_to "#{t :clear_last_coordinate}",{ :controller=>"territories",:action=> "clear_last_coordinate",:id=> @territory.id}, class: 'btn-card-nopad btn btn-primary', style: 'margin-top:8px;margin-bottom:8px;' %>
            <%= link_to "#{t :clear_coordinates}",{:controller=>"territories",:action=> "clear_coordinates",:id=> @territory.id}, class: 'btn-card-nopad btn btn-primary', style: 'margin-top:8px;margin-bottom:8px;' %>
            <%= link_to "#{t :finish}", "/territories/#{@territory.id}", class: 'btn-card-nopad btn btn-primary' %>

            <% if !@territory.coordinates[1].nil? %>
            <% if @territory.coordinates.last.coordinate != @territory.coordinates.first.coordinate %>
            <%= form_for(@coordinate) do |f| %>
            <%@firstcoordinate=@territory.coordinates[0].coordinate%>
            <%= f.hidden_field(:coordinate,value:   @territory.coordinates[0].coordinate) %>
            <%= f.hidden_field(:territory_id,value: @territory.id) %>
            <%= f.submit "#{t :close_loop}", class: 'btn-card-nopad btn btn-primary', style: 'margin-top:19px;' %>
            <% end %>
            <%end%>
            <%end%>

        </div>


    </div>
</div>

<%if show_msg('coord_tip')%>
<%= render 'layouts/warn_map', msg: "#{t :coord_tip}", msg_name: 'coord_tip' %>
<%end%>
