<div class="card">
    <div class="card-header card-header-top">
        <br/>
        <h2><%=t :new_coordinate%></h2>
    </div>

    <div class="card-block">

        <%if flash[:cord_notice]%>
        <div class="alert alert-success" role="alert">
            <%= flash[:cord_notice] %>
        </div>
        <%end%>

        <%= form_for @coordinate, html: {id: 'new_cord'} do |f| %>
        <div class='col-lg-10 col-xs-10'>
            <%= f.hidden_field :coordinate, id: 'coordinate' , class: 'text-field'%>
            <%= hidden_field_tag "auto_submit", @auto_submit  %>
            <%= f.hidden_field(:zone_id,value:  @zone.id) %>
            <br>
            <%  if @zone.coordinates.nil? || @zone.coordinates.last.nil? %>
            <%=render partial: 'coordinates/map_zone', locals: {auto_submit: @auto_submit, zone: @zone, coordinate: @zone.center_coordinate} %>
            <%else%>
            <%=render partial: 'coordinates/map_zone', locals: {auto_submit: @auto_submit, zone: @zone, coordinate:  @zone.coordinates.last.coordinate} %>
            <%end%>
        </div>

        <div class='col-lg-2 col-xs-2'>
            <br>
            <%= f.submit "#{t :add}", class: 'btn-card-nopad btn btn-primary' %>
        </div>
        <% end %>
        <div class='col-lg-2 col-xs-2'>
            <br>
            <br>
            <%if @auto_submit == TRUE %>
            <%= link_to "#{t :auto_submit}", {controller: 'coordinates', action: 'new_zone',zone_id: @zone.id, auto_submit: 0 },style: 'color: red;background-color: black;', class: 'btn-card-nopad btn btn-primary' %>
            <%else%>
            <%= link_to "#{t :auto_submit}", {controller: 'coordinates', action: 'new_zone',zone_id: @zone.id, auto_submit: 1 }, class: 'btn-card-nopad btn btn-primary' %>
            <%end%>
            <br>
            <%= link_to "#{t :clear_last_coordinate}",{ :controller=>"zones",:action=> "clear_last_coordinate",:id=> @zone.id}, class: 'btn-card-nopad btn btn-primary', style: 'margin-top:8px;margin-bottom:8px;' %>
            <%= link_to "#{t :clear_coordinates}",{:controller=>"zones",:action=> "clear_coordinates",:id=> @zone.id}, class: 'btn-card-nopad btn btn-primary', style: 'margin-top:8px;margin-bottom:8px;' %>
            <%= link_to "#{t :finish}", "/zones/#{@zone.id}", class: 'btn-card-nopad btn btn-primary' %>

            <% if !@zone.coordinates[1].nil? %>
            <% if @zone.coordinates.last.coordinate != @zone.coordinates.first.coordinate %>
            <%= form_for(@coordinate) do |f| %>
            <%@firstcoordinate=@zone.coordinates[0].coordinate%>
            <%= f.hidden_field(:coordinate,value: @zone.coordinates[0].coordinate) %>
            <%= f.hidden_field(:zone_id,value: @zone.id) %>
            <%= f.submit "#{t :close_loop}", class: 'btn-card-nopad btn btn-primary', style: 'margin-top:19px;' %>
            <% end %>
            <%end%>
            <%end%>
        </div>

        <div class='col-lg-12 col-xs-12'>
            <%= form_for(@zone, url: '/zones/update_zoom') do |f| %>
            <%= f.hidden_field(:client_id,value:  current_user.client_id) %>
            <%= hidden_field_tag :id,  @zone.id %>

            <div class='col-lg-10 col-xs-10' style='padding-left:0px;padding-right:0px;'>
                <%= f.select(:zoom,([['1','12'], ['2','13'],['3','14'],['4','15'],['5','16'],['6','17'],['7','18'],['8','19']]),{include_blank: "#{t :zoom}"}, {class: 'text-field-wide' } )%>
                <br>
            </div>

            <div class='col-lg-2 col-xs-2'>
                <%= f.submit "#{t :update}", class: 'btn-card-nopad btn btn-primary', style: 'margin-top:3px;' %>
                <br>
            </div>
            <%end%>
            <br>
            <br>
        </div>
    </div>
</div>
