<%if !@user.new_record? && @user.email == 'blank'%>
 <p class='notice'>
   Please Fix your Email!
 </p>
<%end%>





<%= form_for(@user) do |f| %>
<br />

<table class='table table-striped'>

    <tr>
        <td>
            <%=t :username %>
        </td>
        <td>
            <%= f.text_field :username, class: 'text-field-wide' %>
        </td>
    </tr>
    <tr>
        <td>
            <%=t :password %></td>
        <td>
            <%= f.text_field :password, class: 'text-field-wide' %>
        </td>
    </tr>
    <tr>

        <% if session[:role] == "admin" %>
        <td>
            <%=t :client %></td>
        <td>
            <%= f.select(:client_id, Client.all.collect {|c| [ c.name , c.id ] }, {},{class: 'text-field-wide'}) %>
        </td>
        <%else%>

        <%= f.hidden_field :client_id, :value => session[:client_id] %>
        <% end %>

    </tr>
    <tr>
        <td>
            <%=t :email %></td>
        <td>
            <%= f.text_field :email , class: 'text-field-wide'%>
        </td>
    </tr>
    <tr>
        <td>
            <%=t :first_name %></td>
        <td>
            <%= f.text_field :fname, class: 'text-field-wide' %>
        </td>
    </tr>
    <tr>
        <td><%=t :last_name %></td>
        <td>
            <%= f.text_field :lname, class: 'text-field-wide' %>
        </td>
    </tr>

    <% if is_admin %>
    <tr>
        <td>
            <%=t :isadmin %>
        </td>
        <td>
            <%= f.check_box :isadmin %>
        </td>
    </tr>
    <%end%>

    <% if is_client_admin || is_admin %>

    <tr>
        <td>
            <%=t :is_client_admin  %>
        </td>
        <td>
            <%= f.check_box :is_client_admin, onclick: "$('#user_can_manage_hh').attr('checked', false);" %>
        </td>
    </tr>

    <tr>
        <td>
            <%=t :can_manage_hh %>
        </td>
        <td>
            <%= f.check_box :can_manage_hh, onclick: "$('#user_is_client_admin').attr('checked', false);" %>
        </td>
    </tr>

    <%end%>

    <tr>
        <td>
            <%=t :lang %></td>
        <td>
            <%= f.select(:sitelang,[['en'], ['es']],{}, { class: 'text-field-wide'})%>
        </td>
    </tr>

    <tr>
        <% new_or_update(user)%>
        <td colspan="2">
            <%= f.submit "#{@button_txt}", class: 'btn btn-primary' %>
        </td>
    </tr>

</table>
<% end %>
