<div class="card">
    <div class="card-header card-header-top">

        <table class="table table-noborder table-nopadding">
                <td class="card-title no-border">
                <h2>
                    <%= t :users %>
                </h2>
            </td>
            <td class='buttons'>
                <%= link_to "#{t :newuser}", new_user_path, class: 'btn btn-primary btn-top' %>
            </td>
          </tr>
        </table>
        </div>

        <div class="card-block">

            <table class="table table-striped">
                <tr>
                    <th><%=t :username%></th>
                    <th>
                        <%=t :name%>
                    </th>
                    <th><%=t :client%></th>
                    <th><%=t :email%></th>
                    <th><%=t :role%></th>
                    <th></th>
                    <th></th>
                    <th> </th>
                </tr>

                <% @users.flat_map do |user| %>
                <tr>
                    <td><%= user.username %></td>
                    <td>
                        <%=user.fname%>&nbsp;
                        <%=user.lname%>
                    </td>
                    <td><%= user.client.name %></td>
                    <td><%= user.email %></td>
                    <td>
                      <%if user.isadmin?%>
                        <%=image_tag('user-admin.png', size: '43x43', title: "#{t :user_admin}") %>
                      <%end%>

                      <%if !user.isadmin? && user.can_manage_hh? %>
                        <%=image_tag('Usericon.png', size: '43x43', title: "#{t :user_manager}") %>
                      <%end%>

                      <%if !user.isadmin? && !user.can_manage_hh? %>
                        <%=image_tag('user-basic.png', size: '43x43', title: "#{t :user_basic}") %>
                      <%end%>


                    </td>

                    <td><%= link_to image_tag("view.png",:class=>"button",:size=>"36x36",:title=>"#{t :view}"), user %></td>
                    <td><%= link_to image_tag("edit.png",:class=>"button",:size=>"36x36",:title=>"#{t :edit}"), edit_user_path(user) %></td>
                    <td><%= link_to image_tag("trash.png",:class=>"button",:size=>"36x36",:title=>"#{t :delete}"), user, :confirm => "#{t :are_you_sure}", :method => :delete %></td>
                </tr>
                <% end %>
            </table>

        </div>
    </div>
