<div class="card">
    <div class="card-header card-header-top">
        <table class="table table-noborder table-nopadding">
            <tr>
                <td class="card-title no-border">
                    <h2>
                        <%= t :clients %>
                    </h2>
                </td>
                <td class="buttons">
                    <%= link_to  raw("<icon class='fa fa-5x fa-plus-circle'></icon>"), new_client_path, class: 'btn btn-primary btn-top' %>
                </td>
            </tr>
        </table>
    </div>
    <div class="card-block">

        <table class="table table-striped">
            <tr>
                <th>Congname</th>
                <th>Address</th>
                <th>City</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>

            <% @clients.each do |client| %>
            <tr>
                <td>
                    <%= client.name %>
                </td>
                <td>
                    <%= client.address %>
                </td>
                <td>
                    <%= client.city %>
                </td>

                <td><%= link_to image_tag("view.png",:class=>"button",:size=>"36x36",:title=>"#{t :view}"), client %></td>
                <td><%= link_to image_tag("edit.png",:class=>"button",:size=>"36x36",:title=>"#{t :edit}"), edit_client_path(client) %></td>
                <td><%= link_to image_tag("trash.png",:class=>"button",:size=>"36x36",:title=>"#{t :delete}"), client, :confirm => "#{t :are_you_sure}", :method => :delete %></td>
            </tr>
            <% end %>
        </table>

    </div>
</div>
