<div class="card">
    <div class="card-header card-header-top">
        <table class="table table-noborder table-nopadding">
            <tr>
              <td class="card-title no-border">
                <h2>
                    <%=t :client%>
                </h2>
              </td>
                <td class="card-title no-border">
                    <%= link_to raw("<icon class='fa fa-5x fa-edit'></icon>"), edit_client_path(@client), class: 'btn btn-primary btn-top' %>
                </td>
            </tr>
        </table>
    </div>
    <div class="card-block">

        <table class="table table-striped">
            <tr>
                <td>
                    <b> <%=t :name%> </b>
                </td>
                <td>
                    <%= @client.name %>
                </td>
            </tr>

            <tr>
                <td>
                    <b> <%=t :address %></b>
                </td>
                <td>
                    <%= @client.address %>
                </td>
            </tr>

            <tr>
                <td>
                    <b> <%=t :city %> </b>
                </td>
                <td>
                    <%= @client.city %>
                </td>
            </tr>

            <tr>
                <td>
                    <b> <%=t :state %> </b>
                </td>
                <td>
                    <%= @client.state %>
                </td>
            </tr>

            <tr>
                <td>
                    <b> <%=t :zip %></b>
                </td>
                <td>
                    <%= @client.zip %>
                </td>
            </tr>

            <tr>
                <td>
                    <b> <%=t :country %> </b>
                </td>
                <td>
                    <%= @client.country.name %>
                </td>
            </tr>

            <tr>
                <td>
                    <b> <%=t :lang %> </b>
                </td>
                <td>
                    <%= @client.language %>
                </td>
            </tr>

            <tr>
                <td id='map_it' colspan="2">
                </td>
            </tr>

            <tr>
                <td colspan="2">
                   <%=render 'clients/map_drag', center: '', coordinates: @coordinates %>
                </td>
            </tr>


        </table>
    </div>






</div>
