

<div class="card">
  <div class="card-header card-header-top">
    <h1><%=t :edit_history%></h1>
  </div>
  <div class="card-block">


<%= form_for(@territory_history) do |f| %>

<table class="table table-striped">
  <tr>
    <td>  <%=t :territory%> </td>
    <td> <%= f.text_field :territory_id %> </td>
  </tr>

  <tr>
    <td>  <%=t :check_out_date%> </td>
    <td>  <%= f.date_select :check_out_date,:use_month_numbers => true, :order => [:month,:day,:year]  %> </td>
  </tr>

  <tr>
    <td> <%=t :check_in_date %> </td>
    <td> <%= f.date_select :check_in_date,:include_blank => true,:use_month_numbers => true, :order => [:month,:day,:year] %> </td>
   </tr>

  <tr>
    <td> <%=t :user_id %> </td>
    <td>
      <%= f.select("country_id", User.where(client_id: current_user.client_id).order(:username).collect { |p| [p.username, p.id]}, {selected: @territory_history.user_id}, {class: 'text-field'}) %>
 </td>
  </tr>

  <tr>
    <td colspan="2"> <%= f.submit "#{t :update}", class: 'btn btn-primary' %> </td>
  </tr>
</table>

<% end %>

 </div>
</div>
