<h1>New territory_history</h1>

<% form_for(@territory_history) do |f| %>


  <p>
    <b>Territory</b><br />
   <%=  f.select(:territory_id, Territory.find(:all,:conditions => "congregation_id = '#{session[:congid]}'",:order=>"territory_no+0").collect {|c| [ c.territory_no, c.id ] }) %>

   <%= f.hidden_field(:congregation_id,:value => session[:congid]) %>
  </p>
  <p>
    <%= f.label :check_out_date %><br />
    <%= f.date_select :check_out_date %>
  </p>
  <p>
    <%= f.label :check_in_date %><br />
    <%= f.date_select :check_in_date, :include_blank => true  %>
  </p>
  <p>
    <%= f.label :checked_out_by %><br />
    <%= f.text_field :checked_out_by %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', territory_histories_path %>