<div class="card">
    <div class="card-header card-header-top">
        <h2><%=t :report_for%>
            <%=@territories[0].client.name%></h2>
    </div>

    <div class="card-block">

        <table class="table table-striped">

            <% for territory in @territories do%>

            <tr>
                <th><%=t :territory %></th>
                <th><%=t :user %>
                </th>
                <th><%=t :check_out_date %>
                </th>
                <th><%=t :check_in_date%>
                </th>
            </tr>
            <tr>

                <td><%= territory.territory_no %></td>

                <% territory.territory_histories.each do |t|%>

                <td>
                    <%= t.user.username %></td>

                <td>
                    <%= t.check_out_date %></td>

                <td class="out"><%= t.check_in_date %></td>
            </tr>
            <%end%>

            <% end %>

        </table>
    </div>
</div>

<div class="digg_pagination">
    <%=will_paginate @territories %>
</div>

</div>
