
<div class="card">
  <div class="card-header card-header-top">
    <h1><%=t :territory_histories %></h1>
  </div>
  <div class="card-block">

    <table class="table table-striped">
      <tr>
        <td> <b><%=t :territory %> </b> </td>
        <td> <%= @territory_history.territory.territory_no %> </td>
      </tr>
      <tr>
        <td> <b><%=t :check_out_date %></b> </td>
        <td> <%= @territory_history.check_out_date %> </td>
      </tr>
      <tr>
        <td> <b><%=t :check_in_date %></b> </td>
        <td> <%= @territory_history.check_in_date %> </td>
      </tr>
      <tr>
        <td> <b><%=t :user_id%></b> </td>
        <td>  <%= @territory_history.user_id %></td>
        </tr>
        </table>

</div>
</div>
