<table class='table table-striped' style='margin-top:-18px;'>
    <tr>
        <td><%=t :first_name %></td>
        <td>
            <%= householder.fname %>
        </td>
    </tr>

    <tr>
        <td><%=t :last_name %></td>
        <td>
            <%= householder.lname %>
        </td>
    </tr>

    <tr>
        <td><%=t :notes %></td><br/>
        <td>
            <%=  householder.notes %></td>
    </tr>
    <tr>
        <td><%=t :phone %></td><br/>
        <td>
            <%= householder.phone %></td>
    </tr>
    <tr>

        <tr>
            <td><%=t :call_date %></td>
            <td><%= householder.call_date %></td>
        </tr>

 
    </table>
