<div class="card">
    <div class="card-header card-header-top">
        <table class="table table-noborder table-nopadding">
            <tr>
                <td class="card-title no-border">
                    <h2>
                        <%=t :householders %>
                    </h2>
                </td>

                <td class="buttons">
                    <%= link_to raw("<icon class='fa fa-5x fa-home'></icon>"), {controller: 'main'}, class: 'btn btn-primary btn-top' %>
                </td>
            </tr>
        </table>
    </div>
    <div class="card-block">

        <table class="table table-striped">
            <tr>
                <th><%=t :first_name%></th>
                <th><%=t :last_name%></th>
                <th><%=t :notes%></th>
                <th ><%=t :phone%></th>
                <th><%=t :call_date%></th>
                <th></th>
            </tr>

            <% @householders.each do |householder| %>
            <tr>
                <td><%= householder.fname %></td>
                <td><%= householder.lname %></td>
                <td><%= householder.notes %></td>
                <td><%= householder.phone %></td>
                <td><%= householder.call_date %></td>
                <td><%= link_to image_tag('view.png', size: '23x23'), householder.address %></td>
            </tr>
            <% end %>
        </table>

        <%@householders.each do |hh| %>
        <%=render 'householders/modal', householder: hh, hsource: 'addy', address_id: hh.address_id, edit: 1 %>
        <%end%>
        <div class="digg_pagination">
            <%=  will_paginate @householders,:next_label=>"#{t :next}",:previous_label=>"#{t :previous}"  %>
        </div>

    </div>
</div>
