<style>
    body { margin:0; padding:0; }
    #map_c<%=address.id%> { margin-bottom:30px;position:relative;top:10px; height:300px; bottom:0; width:100%; }
</style>


<style>
    .css-icon {
        width: 0;
        height: 0;
    }
</style>



<%if address.coordinate.blank? %>
<% get_latlong(address)%>
<%else%>
<%@coord = address.coordinate%>
<%end%>



<div id='map_c<%=address.id%>'></div>




<script>

    var position = document.getElementById('coordinate');

    L.mapbox.accessToken = 'pk.eyJ1IjoibWNyb3dkZXIiLCJhIjoiY2lqcTcyd2YwMDFrb3Rya285MjMxdXQydSJ9.hIHusY9FJsXj9RBUNWC4pA';
    var map_c<%=address.id%> = L.mapbox.map('map_c<%=address.id%>', 'mapbox.streets', {
        zoomControl: true}).setView([<%=@coord%>],17);


              var cssIcon = L.divIcon({
                  className: 'css-icon',
                  html: '<img src=/assets/pin.png>',
                  iconSize: [60, 60]
              });

    var marker = L.marker(new L.LatLng(<%=@coord%>), {
        icon: cssIcon,
        draggable: false
    });


     marker.addTo(map_c<%=address.id%>);




</script>
