
<style>

    #map_drag { margin-bottom:1px;position:relative;top:0px;height:530px; width:100%; }

.css-icon {
        width: 0;
        height: 0;
    }
</style>

<% get_map_layer ## returns @map_layer %>


<div id='map_drag' > </div>


<%=form_tag({:controller=> 'addresses', :action => 'refresh_map'}, :id => "mapit", method: 'post',  :remote => true) do%>
   <%= hidden_field_tag 'coordinate'  %>
   <%=hidden_field_tag "id", @address.id %>
 <%end%>


  <%if center.blank? %>
   <% center = '-0.183847, -78.469690'  %>
  <%end%>

  <%if !coordinates.nil? %>
    <%center = coordinates %>
  <%end%>

  <script>

      var position = document.getElementById('coordinate');
      position.value = '<%=center%>';
      var map_drag = L.map('map_drag').setView([<%= center %>],'<%=territory.zoom%>');
      L.tileLayer('<%=@map_layer.layer_url%>', {
          attribution: 'OSM',
          maxZoom: '<%=@map_layer.max_zoom%>'


          <%if !@map_layer.min_zoom.blank?%>
          , min_zoom: '<%= @map_layer.min_zoom %>'
          <%end%>

          <%if !@map_layer.map_type.blank?%>
          , type:  '<%=@map_layer.map_type%>'
          <%end%>

          <%if !@map_layer.file_ext.blank?%>
          , ext: '<%= @map_layer.file_ext %>'
          <%end%>

          <%if !@map_layer.subdomains.blank?%>
          , subdomains: '<%=@map_layer.subdomains %>'
          <%end%>

      }).addTo(map_drag);


      var line_points<%=territory.id%> = [
         <%territory.coordinates.each do |t| %>
           [<%=t.coordinate%>],
         <%end%>
       ];

         <%if territory.border_color.blank?%>
            <%@color = 'red'%>
          <%else%>
            <%@color = territory.border_color %>
         <%end%>

       var polyline_options<%=territory.id%> = {
            color: '<%=@color%>'
           <%if territory.fill_color? %>,
            fill: true
           <%end%>
           <%if !territory.border_size.blank?%>,
            weight: <%=territory.border_size%>
           <%end%>
       };
       var polyline<%=territory.id%> = L.polyline(line_points<%=territory.id%>, polyline_options<%=territory.id%>).addTo(map_drag);




      var cssIcon = L.divIcon({
          className: 'css-icon',
          html: '<img src=/assets/pin.png>',
          iconSize: [60, 60]
      });


      var marker = L.marker(new L.LatLng(<%=center%>), {
          icon: cssIcon,
          draggable: true
      });

      marker.on('dragend', ondragend);
      marker.bindPopup('<%=t :map_drag_marker %>');
      marker.addTo(map_drag);

      function ondragend() {
          var m = marker.getLatLng();
          position.value = m.lat + ',' + m.lng;
          $('form#mapit').trigger('submit');
      }



  </script>
