<br>
<br>

<%=link_to "Reset", {controller: 'addresses', action: 'what_territory'}, class: 'btn btn-primary' %>

<div class="col-lg-11 col-md-11  col-sm-12 col-xs-12" style="width:100%;">

        <table class="table table-striped center">
          <tr>
             <td>
      <% if !house_no.nil? && house_no.size > 0 %>

          <% territories.each do |ter| %>
              <%= t :territory %> #
              <%= ter.territory_no %><br>


              <% if ter.is_dynamic? %>

                  <% if ter.coordinates.count > 1 %>

                      <img src="http://maps.google.com/maps/api/staticmap?&markers=color:red|color:red|label:X|


                      <%= house_no %>+<%= street %>,<%= city %>,<%= state %>

                      |&path=color:<%= ter.border_color %>|weight:5|fillcolor:<%= ter.color %>|



    <% for cord in ter.coordinates %>

    <%= cord.coordinate %>
    <%= "|" unless cord == ter.coordinates.last %>
    <% end %>
    &markers=color:red|color:red|label:T| <%= ter.center_coordinate %>&size=400x400&maptype=<%= ter.maptype %>&sensor=false&key=AIzaSyCIL4jbMmEpn5qMkbUq1FuSVQkJDHRepbM">
                      </img>
                  <% else %>
                      <img src="http://maps.google.com/maps/api/staticmap?&markers=color:red|color:red|label:X|


          <%= house_no %>+<%= street %>,<%= city %>,<%= state %>




       |&path=color:<%= ter.border_color %>|weight:5|fillcolor:<%= ter.color %>|

    &markers=color:red|color:red|label:T| <%= ter.center_coordinate %>&size=500x500&maptype=<%= ter.maptype %>&sensor=false&key=AIzaSyCIL4jbMmEpn5qMkbUq1FuSVQkJDHRepbM">
                      </img>


                  <% end %>

              <% else %>

                  <% if ter.coordinates.count > 1 %>

                      <img src="http://maps.google.com/maps/api/staticmap?&markers=color:red|color:red|label:X|


          <%= house_no %>+<%= street %>,<%= city %>,<%= state %>




       |&path=color:<%= ter.border_color %>|weight:5|fillcolor:<%= ter.color %>|



    <% for cord in ter.coordinates %>

    <%= cord.coordinate %>
    <%= "|" unless cord == ter.coordinates.last %>
    <% end %>
    &markers=color:red|color:red|label:T| <%= ter.center_coordinate %>&size=500x500&maptype=<%= ter.maptype %>&sensor=false&key=AIzaSyCIL4jbMmEpn5qMkbUq1FuSVQkJDHRepbM">
                      </img>
                      <hr>
                  <% else %>

                      <%= t :territory_has_no_cords %>
                      <hr>
                      <br><br>

                  <% end %>
              <% end %>


          <% end %>








          <% end %><!-- end if -->


    </td>

  </tr>

</table>

</div>