<br>
<br>

<div class="card">
  <div class="card-header-top">
    <h1><%=t :google_alt%></h1>
  </div>

  <div class="card-block">

 

<%= form_for(@address) do |f| %>
<table class="table table-striped">
  <tr>
    <td><%=t :althouse%> </td>
    <td><%= f.text_field :alt_house_no, class: 'txt-field' %></td>
    </tr>
  <tr>
    <td> <%=t :altstreet%></td>
    <td><%= f.text_field :alt_street, class: 'txt-field' %> </td>
    </tr>
  <tr>
    <td><%=t :altcity%></td>
    <td> <%= f.text_field :alt_city, class: 'txt-field' %></td>
  </tr>
  <tr>
    <td colspan="2">
     <%= f.submit "#{t :update}", class: 'btn btn-primary' %>
    </td>
    </tr>
</table>
<% end %>

 </div>
</div>