<br>
<br>

<div class="card">
  <div class="card-header-top">
    <h1><%=t :edit_address %></h1>
  </div>

  <div class="card-block">


   <%= form_for(@address) do |f| %>

    <table class="table table-striped">
      <tr>
        <td><%=t :neighborhood %> </td>
        <td><%= f.text_field :neighborhood, class: 'txt-field' %></td>
      </tr>
      <tr>
        <td><%=t :house_number %></td>
        <td><%= f.text_field :house_no, class: 'txt-field'  %></td>
      </tr>
      <tr>
        <td><%=t :street%></td>
        <td><%= f.text_field :street, class: 'txt-field'  %></td>
      </tr>
      <tr>
        <td><%=t :apartment_number%></td>
        <td><%= f.text_field :apt_no, class: 'txt-field'  %></td>
      </tr>
      <tr>
        <td><%=t :city%> </td>
        <td><%= f.text_field :city, class: 'txt-field'  %></td>
      </tr>
      <tr>
        <td><%=t :state%></td>
        <td><%= f.text_field :state, class: 'txt-field'  %></td>
      </tr>
      <tr>
        <td> <%=t :zip%> </td>
        <td><%= f.text_field :zip, class: 'txt-field'  %></td>
      </tr>
      <tr>
        <td><%=t :call_date%></td>
        <td><%= f.text_field :call_date, class: 'datepicker txt-field'  %></td>
      </tr>
      <tr>
        <td> <%=t :territory_number%> </td>
        <td> <%=  f.select(:territory_id, Territory.where(client_id: session[:client_id]).order("territory_no+0").collect {|c| [ c.territory_no, c.id ] },{}, {class: 'sel-field'}) %> </td>
      </tr>

  <% if Client.find(session[:client_id]).disable_all_google_maps == true || Client.find(session[:client_id]).disable_terr_maps == true   %>

  <%else%>
          <tr>
            <td><%=t :hide_map%></td>
            <td><%= f.check_box :hide_map %></td>
          </tr>
  <%end%>


  <% if  Client.find(session[:client_id]).is_coordinate_only == true  %>
    <tr>
      <td><%=t :coordinate%></td>
      <td><%= f.text_field :coordinate %></td>
    </tr>
  <%end%>



   <tr>
     <td><%= f.submit "#{t :update}", class: 'btn btn-primary' %></td>
     <td></td>
   </tr>
<% end %>
</table>

<table class="table table-bordered">
  <tr>
    <td><%= link_to image_tag('view.png'), @address %></td>
    <td><%= link_to "#{t :google_alt}",:action=> "edit_alt",:aid=> @address.id %></td>
    <td><%= link_to "#{t :google_alt_remove}",:action=> "remove_alt",:aid=> @address.id %></td>
  </tr>
    </table>

</div>

</div>
<script>
    $(document).ready(function(){
        $('.datepicker').datepicker({
            language: "<%=session[:locale]%>"
        });
    });
</script>