<br />
<br />
<div class="card" style="max-width: 70%;margin: 0 auto;">
    <div class="card-header-top">
        <table class="table table-inverse">
            <tr>
                <td>
                    <%=t :addresses %></td>
                <td><%=render 'search' %></td>
            </tr>
        </table>

    </div>

    <div class="card-block">

        <table class="table table-striped center">
            <tr>
                <td>

                    <%=render partial: 'addresses/new_from_terr'%>

                </td>
            </tr>

            <tr>
                <td>
                    <%= link_to "#{t :what_territory}", {controller: 'addresses', action: 'what_territory'}, class: 'btn btn-primary' %>
                </td>
            </tr>

            <tr>
                <td>
                    <h5><%=t :terr_search_button  %>  </h5>
                    <%=render 'select_terr' %>
                </td>
            </tr>

            <tr>
                <td>
                    <%=link_to  "#{t :search_all_houses_button}", {controller: 'addresses', action: 'index'}, class: 'btn btn-primary' %>
                </td>
            </tr>
        </table>

    </div>

</div>
