<div class="card">
    <div class="card-header card-header-top">
        <table class="table table-noborder table-nopadding">
            <tr>
                <td class="card-title no-border">
                    <h2>
                        <%= t :address_list %>
                    </h2>
                    <%=t :territory%>
                    -
                    <%=@territory.territory_no%>

                </td>
                <td class="buttons">
                    <%= link_to raw("<icon class='fa fa-5x fa-home'></icon>"), addresses_path, class: 'btn btn-primary btn-top' %>
                </td>
            </tr>
        </table>
    </div>
    <div class="card-block">

        <% @addresses.each do |address| %>
        <%=render 'householders/modal', householder: Householder.new, hsource: 'index_terr', address_id: address.id %>

        <table class="table table-striped">
            <tr>
                <th><%=t :house_number %></th>
                <th><%=t :street %></th>
                <th><%=t :apartment_number %></th>
                <th><%=t :city %></th>
                <th><%=t :call_date %></th>
                <th><%=t :territory_number %></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>

            </tr>

            <tr>
                <td>
                    <% if !address.coordinate.nil? && Client.find(session[:client_id]).is_coordinate_only == true%>
                    <%= link_to address.house_no, {:controller => 'addresses',:action => 'show_all_cords',:street => address.street,:territory => address.territory_id}, {:style=>'color:red;', :class => "streetlink"} %>
                    <%else%>
                    <%=h address.house_no %>
                    <%end%>
                </td>
                <td>
                    <%= link_to address.street, {:controller => 'addresses',:action => 'index_street',:street => address.street}, {:style=>'color:black;', :class => "streetlink"} %>
                </td>
                <td><%=h address.apt_no %></td>
                <td><%=h address.city %></td>
                <td><%=h address.call_date %></td>
                <td><%=h address.territory.territory_no %>
                    <%= link_to("#{t :view}",:controller => 'territories',:action => 'show' ,id:  address.territory_id) %>
                </td>

                <td><%= link_to image_tag("view.png",:class=>"button",:size=>"36x36",:title=>"#{t :view}"), address %></td>
                <td><%= link_to image_tag("edit.png",:class=>"button",:size=>"36x36",:title=>"#{t :edit}"), edit_address_path(address) %></td>
                <td><%= link_to image_tag("trash.png",:class=>"button",:size=>"36x36",:title=>"#{t :delete}"), address, :confirm => "#{t :are_you_sure}", :method => :delete %></td>
                <td>
                    <%= link_to  image_tag("householderadd.png",:class=>"button",:size=>"36x36"), '#', "data-toggle" => "modal", 'data-target' => "#hh_new" %>
                </td>
            </tr>

            <tr>
                <td colspan="10">
                    <%= render "addresses/map_small", territory: address.territory, address: address   %>
                </td>
            </tr>
            <tr>
                <td colspan="10">
                    <h4>
                        <%=t :householders%>
                        @
                        <%=address.house_no%>,
                        <%=address.street%>
                    </h4>
                </td>
            </tr>
            <%  address.householders.each do |hh| %>
            <tr>
                <td colspan="8">
                    <%= link_to image_tag("householder.png",:class=>"button"), '#', "data-toggle" => "modal", 'data-target' => "#hh_#{hh.id}" %>
                    <%= link_to "#{hh.fname}", '#', "data-toggle" => "modal", 'data-target' => "#hh_#{hh.id}" %>
                </td>
                <td></td>

                <td>
                    <%= link_to image_tag("trash.png",:size =>"40x40",:class=>"trash"), hh, :confirm => "#{t :delete_householder_confirm}", :method => :delete %>
                </td>
            </tr>

            <% end %>
        </table>

        <%address.householders.each do |hh| %>
        <%=render 'householders/modal', householder: hh, hsource: 'index_terr', address_id: hh.address_id %>
        <%end%>
        <% end %>

    </div>
</div>
