<div class="card">
<div class="card-header-top">
<%if flash[:notice]%>
<p class="notice" id="notice"><%=notice %></p>
<%end%>


<table id="terrs" class="table table-inverse">
  <tr>
    <td>

      <%= form_tag('/addresses/what_territory_post', remote: true) %>
      <%=t :house_number%> <%=text_field_tag 'house_no',nil,{:class=>'txt-field'} %>
    </td>
    <td> <%=t :street %> <%=text_field_tag 'street', nil, {class: 'txt-field'} %> </td>
    <td> <%=t :city %> <%= text_field_tag "city", nil,{ class: 'txt-field'} %> </td>
    <td> <%=t :state %> <%=text_field_tag 'state', @state , class: 'txt-field'%> </td>
    <td> <%=t :zone %><%=collection_select(:zone1,nil, Zone.where(client_id:  session[:client_id]).order('zone_no'),:id, :zone_no,{},{class: 'sel-field'}) %> </td>
    <td style="padding-top:18px;padding-bottom: 0px;"> <%= submit_tag "#{t :search}", class: 'btn btn-primary' %></td>
    </td>
  </tr>
</table>

</div>
 <div class="card-block" style="display: table">



<%=render partial: 'what_terr', locals: {zones: @zones, house_no: @house_no, street: @street,city: @city, state: @state, zone: @zone} %>
</div>

</div>
