<br>
<div class="card">
 <div class="card-header-top checkout">
   <%=t :check_out %>
 </div>

<div class="card-block">

 <%= form_tag '/territories/check_out_post' do -%>
      <table class="table table-striped">
        <tr>
          <td><%=t :checked_out_by %></td>
          <td>
            <%= select_tag "cob", options_from_collection_for_select(User.where(client_id: current_user.client_id, is_recipient: FALSE, is_applicant: FALSE).order('f_name ASC'), "id", "full_name"), class: 'text-field-wide',prompt: "#{t :select_user}"  %>
          </td>
        </tr>
        <%= hidden_field_tag "id", @id %>
        <tr>
          <td colspan="2"><%= submit_tag "#{t :check_out}", :class => 'btn btn-primary'%></td>
        </tr>
      </table>


 <% end -%>

 </div>
  </div>



</div>
