<div class="card">
    <div class="card-header card-header-top">
        <table class="table table-noborder table-nopadding">
            <tr>
                <td class="card-title no-border">
                    <h2 >
                        <%= t :territory %>
                    </h2>
                </td>
                <td class="buttons">
                    <%= link_to raw("<icon class='fa fa-5x fa-home'></icon>"), territories_path, class: 'btn btn-primary btn-home btn-top2' %>
                    <%if is_admin || is_client_admin %>
                    <%= link_to raw("<icon class='fa fa-5x fa-edit'></icon>"), {:controller=>"territories", action: 'edit',id: @territory.id}, class: 'btn btn-primary btn-edit btn-top2' %>
                    <%end%>
                </td>
            </tr>
        </table>
    </div>
    <div class="card-block">

        <%if flash[:notice]%>
        <div class="alert alert-success" role="alert">
            <%= flash[:notice] %>
        </div>
        <%end%>

        <table class="table table-inverse" style='text-align:left;'>
            <tr>
                <td>
                    <%=t :territory_number %>
                    <%if !@territory.territory_no.nil?%>
                    <%= @territory.territory_no %>
                    <%end%>
                </td>

                <td>
                    <%=t :territory_status%>
                    <br>

                    <% if @territory.is_checked_in?%>
                    <%=t :available%>
                    <%else%>
                   
                    <%=t :user_id %>:
                    <%=h @territory.get_user_id %>
                    <%end%>
                </td>
                <td></td>

            </tr>
        </table>

    </div>
    <div class="card-block">

        <table class="table table-striped">
            <tr>

                <td>
                    <%= link_to "#{get_address_text}", {controller: 'addresses', action: "index_terr",:territory_id => @territory.id}, class: 'btn btn-primary' %>
                </td>
                <td>
                    <div style='float:right;'>
                        <% if current_user.client.is_language_based? %>
                         <%= link_to image_tag("map.png",:size=>"35x35",:class=>"button",:title=>"#{t :map}"),controller: 'territories' ,:action=>"view_all_ter_pins", :id =>@territory.id %>
                        <%end%>
                        <div style='width:20px;display:inline-block;'></div>

                        <%if is_admin || is_client_admin %>
                        <%if @territory.is_checked_in? %>
                        <%= link_to "#{t :check_out}",{controller: 'territories' ,:action=>"check_out",:id =>@territory.id}, class: 'btn btn-primary', :confirm => "#{t :check_in_sure}"%>
                        <%else%>
                        <%= link_to "#{t :check_in}", {controller: 'territories' ,:action=>"check_in",:id =>@territory.id}, class: 'btn btn-primary'%>
                        <%end%>
                        <%end%>


                    </div>
                </td>

            </tr>

            <tr>
                <td>
                    <%=t :descriptiontion %></td>
                <td>
                    <%= @territory.description %>
                </td>
            </tr>
            <tr>
                <td><%=t :notes%>
                </td>
                <td><%= @territory.notes %></td>
            </tr>
            <tr>
                <td>
                    <%=t :zone%>
                </td>
                <td><%= @territory.zone.zone_no %></td>
            </tr>
            <tr>
                <td><%=t :address_count%>:</td>
                <td>
                    <%= @territory.addresses.count %>
                </td>
            </tr>

            <% if !@territory.center_coordinate.nil? && is_any_admin %>
            <tr>
                <td colspan="2" data-no-turbolink='true'>
                    <%= link_to "#{t :new_coordinate}", {:controller => "coordinates", :action => "new", :territory_id => @territory.id}, class: 'btn btn-primary', data: { no_turbolink: true } %>

                    <%if @territory.coordinates.count < 2%>
                    <%= image_tag('arrow.png', class: 'arrow' )%>
                    <%= t :create_coords_help %>
                    <%end%>

                </td>
            </tr>
            <% end %>

            <tr>
                <td colspan="2">
                    <%= render 'map', territory: @territory, edit: 0, zone: @territory.zone  %>
                </td>
            </tr>
            <tr>
                <td>
                    <%=t :last_worked%></td>
                <td><%= @territory.last_worked %></td>
            </tr>

        </table>
    </div>
</div>
