<div class="card">
    <div class="card-header card-header-top">
        <table class="table table-noborder table-nopadding">
            <tr>
                <td class="card-title no-border">
                    <h2 >
                        <%= t :territory %>
                    </h2>
                </td>
                <td class="buttons">
                    <%= link_to "", {:controller=>"territories", action: 'edit',id: @territory.id}, class: 'btn btn-primary btn-edit btn-top' %>
                    <%= link_to "", territories_path, class: 'btn btn-primary btn-home btn-top' %>
                </td>
            </tr>
        </table>
    </div>
    <div class="card-block">

        <%if flash[:notice]%>
        <div class="alert alert-success" role="alert">
            <%= flash[:notice] %>
        </div>
        <%end%>

        <table class="table table-inverse" style='text-align:left;'>
            <tr>
                <td>
                    <%=t :territory_number %>
                    <%if !@territory.territory_no.nil?%>
                    <%= @territory.territory_no %>
                    <%end%>
                </td>

                <td>
                    <%=t :territory_status%>
                    :

                    <% if @territory.is_checked_in == true %>
                    <%=t :available%>
                    <%end%>
                    <% if @territory.is_checked_in == false %>
                    <%=t :unavailable%>
                    <%end%>
                </td>
                <td>
                    <% if @territory.is_checked_in == false %>

                    <%=t :checked_out_by %>:
                    <%=h @territory.get_checked_out_by %>
                    <%end%>
                </td>

            </tr>
        </table>

        <% if @territory.isreserved %>
        <%=t :isreserved_warning%>
        <%= @territory.reserved_by %>
        <%=t :isreserved_warning2%>

        <%end%>
    </div>
    <div class="card-block">

        <table class="table table-striped">
            <tr>

                <td>
                    <%= link_to image_tag("home.png", :title=>"#{t :addresses}"),:action=>"view_ter_householders",:id =>@territory.id %>
                </td>
                <td>
                    <div style='float:right;'>

                        <%= link_to image_tag("map.png",:size=>"35x35",:class=>"button",:title=>"#{t :addresses}-#{t :map}"),controller: 'territories' ,:action=>"view_all_ter_householders", :id =>@territory.id %>
                        <div style='width:20px;display:inline-block;'></div>

                        <%= link_to image_tag("ok.png",:size=>"35x35",:class=>"button",:title => "#{t :check_out}"),controller: 'territories' ,:action=>"check_out",:id =>@territory.id%>
                        <%if @territory.is_checked_in == false     %>
                        <%= link_to image_tag("cancel.png",:size=>"35x35",:class=>"button",:title => "#{t :check_in}"),{controller: 'territories' ,:action=>"check_in",:id =>@territory.id}, :confirm => "#{t :check_in_sure}"%>
                        <%end%>

                    </div>
                </td>

            </tr>

            <tr>
                <td>
                    <%=t :descriptiontion %></td>
                <td>
                    <%= @territory.description %>
                </td>
            </tr>
            <tr>
                <td><%=t :notes%>
                </td>
                <td><%= @territory.notes %></td>
            </tr>
            <tr>
                <td>
                    <%=t :zone%>
                </td>
                <td><%= @territory.zone.zone_no %></td>
            </tr>
            <tr>
                <td><%=t :address_count%>:</td>
                <td>
                    <%= @territory.addresses.count %>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <%= render 'map', territory: @territory, edit: 0, zone: @territory.zone  %>
                </td>
            </tr>
            <tr>
                <td>
                    <%=t :last_worked%></td>
                <td><%= @territory.last_worked %></td>
            </tr>
            <% if !@territory.center_coordinate.nil? %>
            <tr>
                <td colspan="2" data-no-turbolink='true'>
                    <%= link_to "#{t :new_coordinate}", {:controller => "coordinates", :action => "new", :territory_id => @territory.id}, class: 'btn btn-primary', data: { no_turbolink: true } %>
                </td>
                <% end %>
            </table>
        </div>
    </div>
