
<br>


    <% if Congregation.find(session[:congid]).language == 'Spanish' %>

    <%I18n.locale = 'es'%>
<%end%>

     <% if Congregation.find(session[:congid]).language == 'English' %>

    <%I18n.locale = 'en'%>
<%end%>


<table class="table table-inverse">
  <tr>
    <td style="font-size: 20px;">
       #<%=@territory.territory_no%>
      <br>

    </td>
  </tr>

</table>


<br>


    <table class="table table-striped">
      <tr>
        <td colspan="2" style="padding-left:10%;padding-right: 10%;">
            <%= render :partial => "territories/dynamic_maps", :locals => { :territory=> @territory } %>
        </td>
        </tr>



      <% if @addresses[0].nil? %>
          <tr>
            <td colspan="2">
              <%=t :no_addresses_available_in_ter%>
              <br>
              <%= link_to "Back",:back %>
            </td>
            </tr>


      <%end%>

  <% if !@addresses[0].nil? %>



 <table class="table table-striped">
   <thead>
  <tr>
    <th><%=t :terr_no%></th>
    <th><%=t :neighborhood%></th>
    <th> <%=t :address%> </th>
    <th><%=t :apt_no%></th>
    <th><%=t :city%> </th>
    <th> <%=t :date%></th>
    <th><%=t :symbol%> </th>
  </tr></thead>


<% for address in @addresses do %>
  


<tbody>
  <tr>
    <td>T# <%=address.territory.territory_no%> </td>
    <td> <%=address.neighborhood%> </td><!--MEANT to BE BLANK!! -->
    <td> <%=address.house_no + " " + address.street %></td>
    <td> <%=address.apt_no%> </td>
    <td> <%=address.city%> </td>
    <td>  </td><!--MEANT to BE BLANK!! -->
    <td> </td> <!--MEANT to BE BLANK!! -->
  </tr>
</tbody>

  </table>

       <div class="col-lg-12 col-xs-12">

<%if !address.coordinate.nil?%>
<% if address.coordinate.size > 2%>

<img src="http://maps.googleapis.com/maps/api/staticmap?center=<%=address.coordinate%>&zoom=16&size=400x250&maptype=<%=@map%>&markers=color:red|label:X|<%=address.coordinate%>&sensor=true&key=AIzaSyCIL4jbMmEpn5qMkbUq1FuSVQkJDHRepbM"></img>
<%end%>
<%end%>

   <% if Congregation.find(session[:congid]).disable_all_google_maps == true || Congregation.find(session[:congid]).disable_terr_maps == true   %>
&nbsp;
 <%else%>



<% if !address.hide_map %>

<% if address.alt_house_no.nil? %>
 <img src="http://maps.google.com/maps/api/staticmap?center=<%=address.house_no%>+<%=address.street%>,<%=address.city%>,<%=address.state%>&zoom=<%=@zoom%>&size=200x100&maptype=<%=@map%>&markers=color:blue|label:S|40.702147,-74.015794&markers=color:green|label:G|40.711614,-74.012318&markers=color:red|label:X|<%=address.house_no%>+<%=address.street%>+<%=address.city%>,<%=address.state%>&sensor=true&key=AIzaSyCIL4jbMmEpn5qMkbUq1FuSVQkJDHRepbM
"></img>
 <%else%>
 <img src="http://maps.google.com/maps/api/staticmap?center=<%=address.alt_house_no%>+<%=address.alt_street%>,<%=address.alt_city%>,<%=address.state%>&zoom=<%=@zoom%>&size=200x100&maptype=<%=@map%>&markers=color:blue|label:S|40.702147,-74.015794&markers=color:green|label:G|40.711614,-74.012318&markers=color:red|label:X|<%=address.alt_house_no%>+<%=address.alt_street%>+<%=address.alt_city%>,<%=address.state%>&sensor=true&key=AIzaSyCIL4jbMmEpn5qMkbUq1FuSVQkJDHRepbM
"></img>
 <%end%>


 <%else%>
 <%=t :no_map_available%>
<%end%>
 <%end%>
  </div>
 <% for hh in address.householders do %>

<table class="table table-striped">
  <tr>
    <td>
         <%=t :name%> <%= ": " +  hh.fname + " " + hh.lname %> <br>
         <%=t :phone%><%= ": " + hh.phone %>
    </td>
     

   <td>
   <%=t :notes%>  <%= ": " + hh.notes %>
    </td></tr>
</table>
      <%end%>

<table class ="table table-striped">
  <tr>
    <td>  <%=t :notes%> </td>
  </tr>
</table>

<%end%>
 
<%end%>
