<div class="card">

    <style>
        body {
            margin: 0;
            padding: 0;
        }
        #map_c {
            margin-bottom: 30px;
            position: relative;
            top: 10px;
            height: 500px;
            bottom: 0;
            width: 100%;
        }

        .css-icon {
            width: 0;
            height: 0;
        }

    </style>

    <div class="card-header card-header-top">
        <table class="table table-noborder table-nopadding">
            <tr>
              <td class="card-title no-border">

                    <h2>
                        <%=t :territory %> # <%=@territory.territory_no%>
                    </h2>
                </td>
                <td class='buttons'>
                  <%= link_to raw("<icon class='fa fa-5x fa-home'></icon>"), @territory, class: 'btn btn-primary btn-top' %>
                </td>
            </tr>
        </table>
    </div>

    <div class="card-block">
        <br />
        <% get_map_layer ## returns @map_layer %>
        <%= render 'map_layers/set_layer_terr',territory_id: @territory.id %>
         <br>
         <br>
        <div id='map_c'></div>

        <script>

            L.mapbox.accessToken = 'pk.eyJ1IjoibWNyb3dkZXIiLCJhIjoiY2lqcTcyd2YwMDFrb3Rya285MjMxdXQydSJ9.hIHusY9FJsXj9RBUNWC4pA';

            <% @cord = @territory.center_coordinate %>

            var map_c = L.map('map_c').setView([<%=@cord%>], "<%=@territory.zoom%>");

            L.tileLayer('<%=@map_layer.layer_url%>', {
                attribution: 'OSM',
                maxZoom: '<%=@map_layer.max_zoom%>',
                <%if !@map_layer.min_zoom.blank?%>,
                min_zoom: '<%= @map_layer.min_zoom %>' <%end%>
                <%if !@map_layer.map_type.blank?%>,
                type: '<%=@map_layer.map_type%>' <%end%>
                <%if !@map_layer.file_ext.blank?%>,
                ext: '<%= @map_layer.file_ext %>' <%end%>
                <%if !@map_layer.subdomains.blank?%>,
                subdomains: '<%=@map_layer.subdomains %>' <%end%>

            }).addTo(map_c);

            <% @territory.addresses.each do |a| %>

            var cssIcon<%=a.id%> = L.divIcon({
                // Specify a class name we can refer to in CSS.
                className: 'css-icon',
                html: '<img src=/assets/pin.png>',
                iconSize: [60, 60]
            });

            <%if current_user.client.is_coordinate_only? || !a.coordinate.blank? %>
             var marker<%=a.id%> = L.marker(new L.LatLng(<%=a.coordinate%>), {icon: cssIcon<%=a.id%>});
            <%else%>
             <%@coord = a.latitude.to_s + ',' + a.longitude.to_s %>
             var marker<%=a.id%> = L.marker(new L.LatLng(<%=@coord%>), {icon: cssIcon<%=a.id%>});
            <%end%>


            marker<%=a.id%>.bindPopup('<%=t :address%> : <%=a.house_no%> <%=a.street%><br><%if a.householders.any?%><%=a.householders[0].fullname%><%end%>');
            marker<%=a.id%>.addTo(map_c);
            <%end%>


            var line_points2 = [<%@territory.coordinates.each do |t| %>
            [<%=t.coordinate%>],
            <%end%>
            ];

            <%if @territory.border_color.blank?%>
            <%@color = 'red'%>
            <%else%>
            <%@color = @territory.border_color %>
            <%end%>

            var polyline_options2 = {
                color: '<%=@color%>'

                 <%if @territory.fill_color? %>,
                  fill: true
                 <%end%>

                <%if !@territory.border_size.blank?%>,
                  weight: <%=@territory.border_size%>
                <%end%>
            };
            var polyline2 = L.polyline(line_points2, polyline_options2).addTo(map_c);



        </script>

    </div>
</div>
