<div class="card">
    <div class="card-header card-header-top">
        <table class="table table-noborder table-nopadding">
            <tr>
                <td class="card-title">
                    <h2>
                        <%=t :territory %>
                    </h2>
                </td>

                <td class='button'></td>
            </tr>
        </table>
    </div>

    <div class="card-block">

        <table class='table table-striped'>
            <thead>
                <tr>
                    <th style='max-width:30%;width:30%;'>
                        <%=t :address%>
                    </th>
                    <th style='max-width:20%;width:20%;'>
                        <%=t :householder%>
                    </th>
                    <th>
                        <%=t :map%>
                    </th>
                </tr>
            </thead>
            <% @addresses.each do |a| %>
            <tr>
                <td>
                    <table class='table'>
                       <tr>
                         <td colspan="2">
                           <%=link_to image_tag('view.png'), a %>
                         </td>
                       </tr>
                        <tr>
                            <td>
                                <%=t :neighborhood %>
                            </td>
                            <td>
                                <%=a.neighborhood %>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <%=t :hose_no %>
                            </td>
                            <td>
                                <%=a.house_no %>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <%=t :apt_no %>
                            </td>
                            <td>
                                <%=a.apt_no %>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <%=t :zip %>
                            </td>
                            <td>
                                <%=a.zip %>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <%=t :call_date %>
                            </td>
                            <td>
                                <%=a.call_date %>
                            </td>
                        </tr>

                    </table>
                </td>
                <td>
                    <%a.householders.each do |h| %>

                    <%=link_to h.fullname, h%>

                    <br>
                     <%=h.phone%>
                    <%end%>
                </td>
                <td>
                    <%= render "addresses/map_small", territory: a.territory, address: a   %>
                </td>
            </tr>
            <%end%>
        </table>

    </div>
</div>
