<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>


<div class='col-md-4 col-lg-4 col-sm-12 landing-icon'>
    <%=image_tag('icon-map.png') %>
    <h4 class='landing'>
        <%=t :create_bordered_territories %>
    </h4>
</div>

<div class='col-md-4 col-lg-4 col-sm-12 landing-icon'>
    <%=image_tag('icon-hh.png') %>
    <h4 class='landing'>
        <%=t :add_hh%>
    </h4>
</div>

<div class='col-md-4 col-lg-4 col-sm-12 landing-icon'>
    <%=image_tag('icon-book.png') %>
    <h4 class='landing'>
        <%=t :assign_terrs%>
    </h4>
</div>

</div>
