<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>

<div class='col-lg-3 landing-icon'>
   <%=image_tag('icon-map.png') %>
</div>

<div class='col-lg-3 landing-icon'>
   <%=image_tag('icon-map.png') %>
</div>

<div class='col-lg-3 landing-icon'>
   <%=image_tag('icon-map.png') %>
</div>

<div class='col-lg-3 landing-icon'>
   <%=image_tag('icon-map.png') %>
</div>


        <%=link_to "#{t :create_account}",{ controller: "clients", action: "new" }%>

   </div>
