<br>
<br>
<div class="login">

    <div class="card">

        <div class="card-header">
            <div class='col-lg-12'>
                <%= render 'main/change_lang' %>
            </div>
            <%= form_for @user, url: "login/login" do |f| %>
            <table class="table table-noborder">
                <tr>
                    <td>
                        <%=t :username %>
                        <%= f.text_field :username, class: 'txt-field' %>
                    </td>
                </tr>
                <tr>
                    <td><%=t :password %>&nbsp;&nbsp;<%= f.password_field :password, class: 'txt-field'  %>
                    </td>
                </tr>
                <tr>
                    <td>
                        <%= f.submit "Login", class: 'btn btn-warning' %></td>
                </tr>
            </table>
            <% end %>

        </div>

        <div class="card-block">
            <table class="table">
                <tr>
                    <td>

                        <A HREF="http://www.youtube.com/watch?v=nGUAdQa7o8U"></A>
                        <br>
                    </td>
                </tr>
                <tr>
                    <td>
                        <%=link_to "#{t :create_account}",{ controller: "clients", action: "new" }%>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
