<%if session[:uid]%>
<nav class="navbar navbar-light bg-faded">
    <a class="navbar-brand" href="/">TerritoryManager</a>

    <ul class="nav nav-tabs" role="tablist" style="margin-left:92px!important;">
        <li class="nav-item <%=active_class(" #{params[:controller]}", " main") %>">
            <a class="nav-link <%=active_class(" #{params[:controller]}", " main") %>" href="/main"><%=t :home%>
                <span class="sr-only">(current)</span>
            </a>
        </li>

        <%if current_user.client.is_language_based?%>
        <li class="nav-item <%=active_class(" #{params[:controller]}", " addresses") %>">
            <a class="nav-link <%=active_class(" #{params[:controller]}", " addresses") %>" href="/addresses/home"><%=t :addresses%></a>
        </li>
        <%end%>

        <%if is_admin || is_client_admin %>
        <li class="nav-item <%=active_class(" #{params[:controller]}", " territories") %>">
            <a class="nav-link <%=active_class(" #{params[:controller]}", " territories") %>" href="/territories/home"><%=t :territories%></a>
        </li>
        <%end%>

        <li class="nav-item">
            <a class="nav-link" href="/logout"><%=t :logoff %></a>
        </li>

    </ul>

</nav>
<%end%>
