<!DOCTYPE html>
<html>
    <head>
        <title>Minman</title>
        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => false %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
        <%= csrf_meta_tags %>
    </head>
    <body>

        <header>

            <%= form_for User.new, url: "login/login" do |f| %>
            <table class="table table-bordered-bottom">
                <tr>
                    <td style='width:70%;'>

                        <%= render 'main/change_lang' %>

                    </td>
                    <td>

                        <%= f.text_field :username, class: 'text-field-wide' %>
                    </td>

                    <td>
                        <%= f.password_field :password, class: 'text-field-wide'  %>
                    </td>

                    <td>
                        <%= f.submit "Login", class: 'btn btn-warning' %>
                    </td>
                </tr>
            </table>
            <% end %>
         <%=link_to "#{t :create_account}",{ controller: "clients", action: "new" }, class: 'btn btn-primary new_acct'%>
        </header>
        <%= yield %>

    </body>
</html>

<script>
    $(window).scroll(function () {
        if ($(this).scrollTop() > 1) {
            $('header').addClass("sticky");
        } else {
            $('header').removeClass("sticky");
        }
    });
</script>
